h1 {
        font-family: sans-serif;
        color: #000000;
        display: block;
        padding: 15px;
        margin: 0px;
        background-color: #DB7F67;
        color: #000000;
       
}

p {
    display: flex;
    justify-content: end;
    font-size: 25px;

}

img {
    float: left;
    width: 600px;
    height: auto;
   padding: 50px;
}
 
body {
    background-color: #ffffff;
}