@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS RESET */


* {
    font-family: "Rubik", sans-serif;
    color: #000000;
    margin: auto;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
}

h2 {
    font-size: 1.5em;
    font-weight: bolder;
}

h3 {
    font-size: 1.17em;
    font-weight: bolder;
}

h4 {
    font-size: 1em;
    font-weight: bolder;
}

h5 {
    font-size: 0.83em;
    font-weight: bolder;
}

h6 {
    font-size: 0.67em;
    font-weight: bolder;
}


body {
    background-color: #e2d6c9;
    font-family: "Rubik", sans-serif;
    margin: auto;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 24px;
    background-color: #DB7F67;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo-img {
    height: 36px;
}

#logo .title {
    font-size: 24px;
    text-decoration: none;
}


.right-side {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 20px;
    text-decoration: none;
}



.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.icon {
    width: 32px;
}

.icon.facebook {
    width: 32px;
    top: -5px;
}

footer {
    text-align: center;
    background-color: #DB7F67;
    padding: 12px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.intro-img {
    width: 700px;
    height: auto;
}