#img {
    width: auto;
    padding: 10px;
    height: 300px;
    transition-duration: 1s;
}
.nadpis {
    font-size: 50px;
    padding: 10px;
}
#img:hover {
    opacity: 0.2;
}

div.container {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    flex-wrap:wrap
}