.gallery-img img {
    width: auto;
    padding: 15px;
    height: 300px;  
    transition-duration: 0.5s;
   
}

.gallery-img img:hover {
transform: scale(1.1);
}


h2 {padding: 15px; text-align: center; margin-top: 12px;}

p{padding: 15px; text-align: center;}

.header-title {
    padding: 0px;
}

.divider {
    padding: 0px;
}